<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>michel.se » Not Found</title>
    <meta name="description" content="">
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-KM8XGZT');</script>
    <!-- End Google Tag Manager -->
    <link rel="icon" type="image/png" href="/static/icons/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/static/icons/favicon-16x16.png" sizes="16x16" />
    
    <link rel="stylesheet" href="{{ url_for('static', filename='assets.css', v='c2df64fe01bb4a82ba97') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css', v='c2df64fe01bb4a82ba97') }}">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400%7CPoppins:600,900" rel="stylesheet">
    <style>
        #fp-nav { display: none !important; }
    </style>
</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KM8XGZT"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    
    <!-- Background image -->
    <div id="bg"></div>
    <!-- Main section -->
    <div id="main">
        <div class="section section-1">
            <!-- Home section -->
            <div class="section-404">
                <div class="container text-center">
                    <div class="row">
                        <div class="col-md-offset-3 col-md-6">
                            <h1>
                                <span>404!</span>
                            </h1>
                            <h3><span>Your lack of navigation is <br>&nbsp;disturbing</span></h3>
                        </div><!-- End col -->
                    </div><!-- End row -->
                </div><!-- End container -->
            </div><!-- End home section -->
        </div><!-- End first section -->
    </div><!-- End main section -->
    <script src="{{ url_for('static', filename='assets.js') }}"></script>
    <script src="{{ url_for('static', filename='bundle.js', v='c2df64fe01bb4a82ba97') }}"></script>
</body>
</html>